#nav1{
    margin:10px;
}
body{
    background-color: white; 
}
#nav1 ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
    padding: 10px 0px;
}
#nav1 ul li{
    display: inline;
    text-transform: capitalize;
    padding: 0px 10px;
    letter-spacing: 5px;
}