a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}

nav{
    margin:10px;
}
body{
    background-color: white;
}
nav ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
    padding: 10px 0px;
}
nav ul li{
    display: inline;
    text-transform: capitalize;
    padding: 0px 10px;
    letter-spacing: 5px;
}
#main{
    border-bottom: 1px solid blue;
    text-align: center;
}
#main li{
    display: inline;
    text-align: center;
    text-decoration: none;
}

footer{
    clear:both;
    width:100%;
    background-color: white;
    height: 30px;
    text-align: center;
}