#play1, #play2{
    display: inline;
}
#pro1{
    background-image:url('wb.jpg');
}
body{
    background-color: white;
}
#main{
    font-size: large;
    font-weight: bold;
}
#header{
    float:right;
}
#title{
    list-style: none;
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
    padding: 10px 0px;
}
#mul{
    text-align: center;
    font-size:x-large;
}
#port2{
    text-align: center;
    font-size: x-large;
}